.home-banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('water.png');
  background-size: cover;
  height: 60vh;
  background-position: center;
  color: #eee;
  text-align: left;
  padding-top: 30vh;
  display: flex;
  justify-content: start;
  align-items: start;
  padding-left: 30px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
