.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 2pc;
  margin-bottom: 2pc;
}

.card-category {
  height: 200px;
  color: white ;
  text-align: center;
  box-shadow: 0px 0px 71px -12px rgba(0,0,0,0.38);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
  a {
  color: white;
    &:hover{
  color: blue;
  text-decoration: none;
    }
  }
}

.card-show {
  display: flex;
  justify-content: start;
  align-items: center;
}

.card-rental {
  display: flex;
  justify-content: space-between;
  .btn {
    margin: 10px;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.col-3{

    max-width: 20%;
}

.add-item-button{
  display: flex;
  justify-content: space-between;
  border: black solid 1px;
  border-radius: 5px;
}

.rental-hearder{
  text-align: center;
}

.row{
  margin-top: 20px;
}

.see-rental-button{
  width: 0;
  height: 0;
  border-top: 100px solid grey;
  border-right: 100px solid transparent;
  position: absolute;
  top: 0px;
}
.edit-button{
  width: 0;
  height: 0;
  border-top: 100px solid grey;
  border-right: 100px solid transparent;
  position: absolute;
  top: 0px;
}

.index-card {
  position: relative;
}

.index-card-button {
  z-index: 100;
  color:white;
   font-style: bold;
    font-size:18px;
    transform: rotate(-45deg);
  transform-origin: 22% 133%;
}


