.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  height: 200px;
  color: white ;
  text-align: center;
  box-shadow: 0px 0px 71px -12px rgba(0,0,0,0.38);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
  a {
  color: white;
    &:hover{
  color: blue;
  text-decoration: none;
    }
  }
}

.card-index {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px;
  font-size: 10px;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.38);
  img {
    height: auto;
    background-size: cover;
  }
}

.card-show {
  display: flex;
  justify-content: start;
  align-items: center;
}

.card-rental {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.38);
  .btn {
    margin: 10px;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
